build
cmake-build-*
.idea
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.idea/*

release
debug

/build/
/cmake-build-debug/
/src/ssb/data/
Brewfile.lock.json
arrow/
ssb/
.vscode/
cmake-3.15.5/
