version: 2.1
jobs:
  build:
    machine:
      image: 'ubuntu-1604:201903-01'
    steps:
      - checkout
      - restore_cache:
            keys: my-cache-v3
      - run: ./install_requirements.sh
      - run: ./install_arrow.sh
      - save_cache:
            key: my-cache-v3
            paths:
              - arrow
              - cmake-3.15.5
      - run: mkdir build
      - run: (cd build && ../cmake-3.15.5/bin/cmake .. )
      - run: (cd build && make -j 4)
      - run: (cd build && ../cmake-3.15.5/bin/ctest --verbose --output-on-failure)
